# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Mercurial versioning system
.hg
.hgignore
.hgtags

# Application third party modules contents
composer.lock
vendor/*
development/Var/Logs/*
development/vendor/*
development/static/js/front/forms-assets/mvccore-ext-form-js/.git
development/static/js/front/forms-assets/mvccore-ext-form-js/dev-tools
development/static/js/front/forms-assets/mvccore-ext-form-js/node_modules
development/static/js/front/forms-assets/mvccore-ext-form-js/.editorconfig
development/static/js/front/forms-assets/mvccore-ext-form-js/.gitignore
development/static/js/front/forms-assets/mvccore-ext-form-js/install.js
development/static/js/front/forms-assets/mvccore-ext-form-js/LICENCE.md
development/static/js/front/forms-assets/mvccore-ext-form-js/package.json
development/static/js/front/forms-assets/mvccore-ext-form-js/package-lock.json
development/static/js/front/forms-assets/mvccore-ext-form-js/README.md
development/static/js/front/forms-assets/mvccore-ext-form-js/src/mvccore-form.js
development/static/js/front/forms-assets/mvccore-ext-form-js/src/fields/checkbox-group.js
development/static/js/front/forms-assets/mvccore-ext-form-js/src/fields/range.js
development/static/js/front/forms-assets/mvccore-ext-form-js/src/fields/reset.js