<?php include(__DIR__ . '/cfg.css'); ?>

/* layout */
.master-container{
	width: 650px;
}
.mc-content .mc-header{
	position:absolute;
	z-index:200;
	right:0;
	top:32px;
}

<?php include(__DIR__ . '/common/login-form.full.css'); ?>