/* labels */
label.person_age,
label.person_sex,
label.person_edu,
label.person_job {
	line-height:1.7em;
}
/* person fieldset fields */
.field.button button.reset{
	float:right;
}
.field.button button.refresh{
	margin:0 auto;
}
.field.person.sex label{
	padding-left:5px;
}
.field.person.sex label:first-child{
	padding-left:0;
}
label.person_age span{
	padding-right:10px;
}
input.person_age {
	width:50px;
}
.field.person.age{
	margin-bottom:0;
}
div.range-multiple{
	top:-20px;
}