button,
button span,
button span b{
	display:block;
	text-decoration:none;
	height:31px;
	border:0;
	padding-top:0;
	padding-bottom:0;
	cursor:pointer;
	text-decoration:none !important;
}
button,
button span{
	line-height:31px;
	background-color:transparent;
	background-image:url('<?php echo $this->AssetUrl('/static/img/theme/buttons.png'); ?>');
}
button{
	margin:0;
	padding-left:15px;
	padding-right:0;
	background-position:0 0;
}
button{
	#padding:0;
}
button span{
	padding-right:15px;
	padding-left:0;
	background-position:100% -62px;
}
@-moz-document url-prefix() {
	button span{
		position:relative;
		top:-1px;
	}
}
button span b{
	font-size:16px;
	line-height:33px;
	font-family:'myriad-semibold',Arial,Helvetica,sans-serif;
	overflow:hidden;
	white-space:nowrap;
}
button span b{
	font-size:16px;
	line-height:33px;
	font-family:'myriad-semibold',Arial,Helvetica,sans-serif;
	overflow:hidden;
}
button,
button:hover,
button:focus,
button:active{outline:0 !important;}
button span{
	position:relative;
}
.filters button span b{
	position:relative;
	top:-1px;
}

/* green */
.button-green{background-position:0 0;}
.button-green span{background-position:100% -124px;}
.button-green:hover,.button-green:focus{background-position:0 -31px;}
.button-green:hover span,.button-green:focus span{background-position:100% -155px;}
.button-green.button-left-arrow{padding-left:37px;background-position:0 -62px;}
.button-green.button-left-arrow:hover,.button-green.button-left-arrow:focus{background-position:0 -93px;}
.button-green.button-right-arrow span{padding-right:37px;background-position:100% -186px;}
.button-green.button-right-arrow:hover span,.button-green.button-right-arrow:focus span{background-position:100% -217px;}

/* blue */
.button-blue{background-position:0 -248px;}
.button-blue span{background-position:100% -372px;}
.button-blue:hover,.button-blue:focus{background-position:0 -279px;}
.button-blue:hover span,.button-blue:focus span{background-position:100% -403px;}
.button-blue.button-left-arrow{padding-left:37px;background-position:0 -310px;}
.button-blue.button-left-arrow:hover,.button-blue.button-left-arrow:focus{background-position:0 -341px;}
.button-blue.button-right-arrow span{padding-right:37px;background-position:100% -434px;}
.button-blue.button-right-arrow:hover span,.button-blue.button-right-arrow:focus span{background-position:100% -465px;}

.button:hover,
.button:focus,
.button:active{
	background-color:transparent !important;
}
.button-green span b{
	display:block;
	color:#fff;
	text-shadow:-1px -1px 1px #56a800,1px -1px 1px #56a800,-1px 1px 1px #56a800,1px 1px 1px #56a800;
	-moz-text-shadow:-1px -1px 1px #56a800,1px -1px 1px #56a800,-1px 1px 1px #56a800,1px 1px 1px #56a800;
	-webkit-text-shadow:-1px -1px 1px #56a800,1px -1px 1px #56a800,-1px 1px 1px #56a800,1px 1px 1px #56a800;
	-ms-text-shadow:-1px -1px 1px #56a800,1px -1px 1px #56a800,-1px 1px 1px #56a800,1px 1px 1px #56a800;
	-o-text-shadow:-1px -1px 1px #56a800,1px -1px 1px #56a800,-1px 1px 1px #56a800,1px 1px 1px #56a800;
	-khtml-text-shadow:-1px -1px 1px #56a800,1px -1px 1px #56a800,-1px 1px 1px #56a800,1px 1px 1px #56a800;
}
.filters .button-green span b{
	zoom:1;
	background-color:#56a801;
	filter: progid:DXImageTransform.Microsoft.Chroma(Color=#56a801)
			progid:DXImageTransform.Microsoft.Dropshadow(offX=0,offY=-1,Color=#56a800,positive=true);
}
.button-blue span b{
	display:block;
	color:#fff;
	text-shadow:-1px -1px 1px #006ba8,1px -1px 1px #006ba8,-1px 1px 1px #006ba8,1px 1px 1px #006ba8;
	-moz-text-shadow:-1px -1px 1px #006ba8,1px -1px 1px #006ba8,-1px 1px 1px #006ba8,1px 1px 1px #006ba8;
	-webkit-text-shadow:-1px -1px 1px #006ba8,1px -1px 1px #006ba8,-1px 1px 1px #006ba8,1px 1px 1px #006ba8;
	-ms-text-shadow:-1px -1px 1px #006ba8,1px -1px 1px #006ba8,-1px 1px 1px #006ba8,1px 1px 1px #006ba8;
	-o-text-shadow:-1px -1px 1px #006ba8,1px -1px 1px #006ba8,-1px 1px 1px #006ba8,1px 1px 1px #006ba8;
	-khtml-text-shadow:-1px -1px 1px #006ba8,1px -1px 1px #006ba8,-1px 1px 1px #006ba8,1px 1px 1px #006ba8;
}
.filters .button-blue span b{
	zoom:1;
	background-color:#006ba9;
	filter: progid:DXImageTransform.Microsoft.Chroma(Color=#006ba9)
			progid:DXImageTransform.Microsoft.Dropshadow(offX=0,offY=-1,Color=#006ba8,positive=true);
}
.button-green:active span b,
.button-blue:active span b{
	display:block;
	color:#fff;
	text-shadow:-1px -1px 1px #cc8000,1px -1px 1px #cc8000,-1px 1px 1px #cc8000,1px 1px 1px #cc8000;
	-moz-text-shadow:-1px -1px 1px #cc8000,1px -1px 1px #cc8000,-1px 1px 1px #cc8000,1px 1px 1px #cc8000;
	-webkit-text-shadow:-1px -1px 1px #cc8000,1px -1px 1px #cc8000,-1px 1px 1px #cc8000,1px 1px 1px #cc8000;
	-ms-text-shadow:-1px -1px 1px #cc8000,1px -1px 1px #cc8000,-1px 1px 1px #cc8000,1px 1px 1px #cc8000;
	-o-text-shadow:-1px -1px 1px #cc8000,1px -1px 1px #cc8000,-1px 1px 1px #cc8000,1px 1px 1px #cc8000;
	-khtml-text-shadow:-1px -1px 1px #cc8000,1px -1px 1px #cc8000,-1px 1px 1px #cc8000,1px 1px 1px #cc8000;
}
.filters .button-green:active span b,
.filters .button-blue:active span b{
	zoom:1;
	background-color:#cc8001;
	filter: progid:DXImageTransform.Microsoft.Chroma(Color=#cc8001)
			progid:DXImageTransform.Microsoft.Dropshadow(offX=0,offY=-1,Color=#cc8000,positive=true);
}


/* green and blue - active */
/* normal */
.button-green:active,
.button-blue:active{background-position:0 -527px;}
.button-green:active span,
.button-blue:active span{background-position:100% -651px;}
/* right */
.button-green.button-right-arrow:active span,
.button-blue.button-right-arrow:active span{background-position:100% -713px;}
/* left */
.button-green.button-left-arrow:active,
.button-blue.button-left-arrow:active{background-position:0 -589px;}
.button-blue.button-left-arrow:active span{background-position:100% -651px;}