.mc-header .sign-in{
	position:relative;
	z-index:300;
	overflow:visible;
}
.sign-in.minimized .content{
	display:none;
}
.sign-in.full{
	display:table;
	height:31px;
}
.sign-in.full input.username,
.sign-in.full input.password{
	width:80px;
	margin:2px;
	float:left;
}
.sign-in.full .text-inputs{
	margin-right:5px;
	border:1px dotted #666;
	border-radius: 3px;
	float:left;
	overflow:hidden;
}
.sign-in.full button.send{
	float:right;
}
.sign-in.full button.toggle{
	display:none;
}

.sign-out span.user-info,
.sign-out button.send{
	display:block;
	float:left;
}
.sign-out span.user-info{
	height:31px;
	line-height:31px;
	padding:0 10px 0 0;
}